[Unit]
Description=Gnome Autoscale (changes text-scaling based on monitor in use)

[Service]
ExecStart=bash -c "python ~/.bin/gnomeautoscale.py"
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
